<?xml version="1.0" encoding="utf-8"?>
<GameSettings>
    <MSPerFrame>34</MSPerFrame>
    <RespawnRate>100</RespawnRate>
    <UniverseSize>2000</UniverseSize>
    <Walls>
        <Wall>
			<wall>0</wall>
            <p1>
				<X>-425</X>
				<Y>-425</Y>
            </p1>
            <p2>
				<X>-275</X>
				<Y>-425</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>1</wall>
            <p1>
				<X>-425</X>
				<Y>-425</Y>
            </p1>
            <p2>
				<X>-425</X>
				<Y>-275</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>2</wall>
            <p1>
				<X>425</X>
				<Y>-425</Y>
            </p1>
            <p2>
				<X>275</X>
				<Y>-425</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>3</wall>
            <p1>
				<X>425</X>
				<Y>-425</Y>
            </p1>
            <p2>
                <X>425</X>
				<Y>-275</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>4</wall>
            <p1>
				<X>425</X>
				<Y>425</Y>
            </p1>
            <p2>
				<X>275</X>
				<Y>425</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>5</wall>
            <p1>
				<X>425</X>
				<Y>425</Y>
            </p1>
            <p2>
				<X>425</X>
				<Y>275</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>6</wall>
            <p1>
				<X>-425</X>
				<Y>425</Y>
            </p1>
            <p2>
				<X>-275</X>
				<Y>425</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>7</wall>
            <p1>
				<X>-425</X>
				<Y>425</Y>
            </p1>
            <p2>
				<X>-425</X>
				<Y>275</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>8</wall>
            <p1>
				<X>-50</X>
                <Y>-275</Y>
            </p1>
            <p2>
				<X>50</X>
				<Y>-275</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>9</wall>
            <p1>
				<X>-50</X>
				<Y>275</Y>
            </p1>
            <p2>
                <X>50</X>
				<Y>275</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>10</wall>
            <p1>
				<X>-225</X>
				<Y>-50</Y>
            </p1>
            <p2>
				<X>-225</X>
				<Y>50</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>11</wall>
            <p1>
				<X>225</X>
				<Y>-50</Y>
            </p1>
            <p2>
				<X>225</X>
				<Y>50</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>12</wall>
            <p1>
				<X>-975</X>
				<Y>-200</Y>
            </p1>
            <p2>
				<X>-775</X>
				<Y>-200</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>13</wall>
            <p1>
				<X>-975</X>
				<Y>200</Y>
            </p1>
            <p2>
				<X>-775</X>
				<Y>200</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>14</wall>
            <p1>
				<X>-775</X>
				<Y>200</Y>
            </p1>
            <p2>
				<X>-775</X>
				<Y>100</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>15</wall>
            <p1>
				<X>-775</X>
				<Y>-200</Y>
            </p1>
            <p2>
				<X>-775</X>
				<Y>-100</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>16</wall>
            <p1>
				<X>975</X>
				<Y>-200</Y>
            </p1>
            <p2>
				<X>775</X>
				<Y>-200</Y>
            
		</p2>
        </Wall>
        <Wall>
            <wall>17</wall>
            <p1>
				<X>975</X>
				<Y>200</Y>
            </p1>
            <p2>
				<X>775</X>
				<Y>200</Y>
            </p2>
        </Wall>
        <Wall>
			<wall>18</wall>
            <p1>
				<X>775</X>
				<Y>200</Y>
            </p1>
            <p2>
				<X>775</X>
				<Y>100</Y>
            
		</p2>
        </Wall>
        <Wall>
			<wall>19</wall>
            <p1>
				<X>775</X>
				<Y>-200</Y>
            </p1>
            <p2>
                <X>775</X>
                <Y>-100</Y>
            </p2>
        </Wall>
    </Walls>
</GameSettings>
